@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

/*
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/
/* src/app/globals.css */

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/* 
16133d   
9882ba  
edc6fa  
ffc2e2  
fff5d9
 */
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

  --border-radius: 0.75rem;

	--palette-1: #16133d;
	--palette-2: #9882ba;
	--palette-3: #edc6fa;
	--palette-4: #ffc2e2;
	--palette-5: #fff5d9;

	--background-opacity: 0.675;
	--background-color-solid: rgb(from var(--palette-1) r g b);
	--background-color: rgb(
		from var(--palette-1) r g b / var(--background-opacity)
	);
}

body {
	background-image: linear-gradient(
			#16133d00 90vh,
			#16133d80 97vh,
			#16133dff 100vh
		),
		url("/webdevCityBackground-01.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto 100vh;

  /* Background will try to fill along width if the screen is too wide instead */
/* The ratio comes from the viewbox dimensions of the svg file */
@media (min-aspect-ratio: 1920/1028) {
  background-size: 100vw auto;
}

}

footer {
	background-color: #9882ba;
	padding: 16px;
	display: flex;
}

footer > * {
	justify-self: start;
	flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    padding: 6rem 2rem;
}

main > * {
	max-width: 90rem;

	margin: 2rem auto;

  border-radius: var(--border-radius);

	background-color: var(--background-color);

	color: #ffffff;
}

hgroup {
    contain: content;

    max-width: 100%;
    width: 100%;
    margin: 0 auto;

    background: unset;
}

hgroup > * {
    margin: 0.5em 0;
}

h1,
h2,
h3 {
	max-width: fit-content;

	padding: 1rem;
	margin: 0 auto;

	text-align: center;
	font-weight: bold;
	color: #ffffff;

	background-color: var(--background-color-solid);
}

h1 {
	max-width: 544px;

	margin-top: 4rem;

	font-size: xxx-large;
}

h2 {
	font-size: xx-large;
}

h3 {
	font-size: x-large;
}

p {
	contain: content;

	padding: 1rem;

	font-size: large;
	text-indent: 2em;

	backdrop-filter: blur(4px);
}

