/* 16133d   9882ba  edc6fa  ffc2e2  fff5d9 */
/* className="bg-sfPink w-40 h-12 text-xl text-black rounded-full " */

#home > * {
}

.logo {
	background: unset;
	padding: unset;
}

.discord:hover {
	filter: unset;
	color: white;
	background-color: #5865f2;
}

/* This css is not being used */
.countdown {
}