/* 16133d   9882ba  edc6fa  ffc2e2  fff5d9 */
/* className="bg-sfPink w-40 h-12 text-xl text-black rounded-full " */

.mainLandingPage > * {
	margin: 4em auto 0;
}

.logo {
	background: unset;
	padding: unset;
}

.discordButton {
	border-radius: 1em;
	font-size: x-large;

	padding: 0.25em 1em;

	background-color: #16133d;
	color: #ffffff;
	transition: background-color 0.15s ease-out;
}

.discordButton:hover {
	background-color: #5865f2;
}

/* This css is not being used */
.countdown {
	table-layout: fixed;
	border-collapse: collapse;
	contain: content;

	background-color: #16133d41;
	border-radius: 8px;
	backdrop-filter: blur(4px);

	color: #ffffff;

	width: 100%;

	& thead th,
	td {
		/* convert this to margin for child element */
		/* padding: 0 0.5em; */
		width: 3em;
	}

	& thead th {
		background-color: #16133d;
		font-size: normal;
		font-weight: normal;
	}

	& tbody td {
		font-size: 2.8em;
		font-weight: bolder;
	}
}
