#schedulePage {
}

@layer components {
	.schedule {
		width: 100%;

		& .scrollContainer {
			max-height: 60vh;
			overflow-y: scroll;
			display: flow-root;
		}
	}

	.event {
		width: 100%;
		margin-block: var(--rootChildMargin);

		background-color: var(--background-color-element);

		& hgroup,
		h3 {
			width: 100%;
			max-width: none;
		}

		& hgroup > time {
			text-align: start;
		}
	}

	.active {
	}
}
