/* 16133d   9882ba  edc6fa  ffc2e2  fff5d9 */

.navBar {
	display: inline-flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-items: center;

	width: 100%;
	max-width: 80vw;
  height: 74px;

	margin: 0 auto;
  padding: 10px;

	border-radius: 16px;

	background-color: #fff5d9;
}

.navBar > a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: inherit;
  flex: 1;
  padding: 2px;
  text-align: center;
  height: 100%;

  font-weight: bold;

  transition: background-color 0.15s ease-out;
}

.navBar > a:hover {
  background-color: #f8e2ba;
}

.navBar > a > p {
  /* margin: auto 0; */
  
}

#logo {
  flex: none;
}

#register {
  background-color: #16133d;
  color: #fff;
}

#register:hover {
  background-color: #433e87;
}