.sponsorLogo {
	backdrop-filter: blur(4px);
}

.logoRow {
	margin: 1.75rem 0;
	max-width: 100%;
	height: 100px;

	/* background-position-x: 0; */
	mask-image: linear-gradient(to left, #ffffff00 0, #ffffff 4rem),
		linear-gradient(to right, #ffffff00 0, #ffffff 4rem);
	mask-composite: intersect;

	animation: 10s linear 0s infinite logo-slide;
}

.pastSponsors > * {
	filter: grayscale(60%);
	transition: filter 0.25s;
}

.pastSponsors > *:hover {
	filter: none;
}

@keyframes logo-slide {
	0% {
		background-position-x: 0px;
	}
}

.tieredSponsorsGrid {
	display: flex;
	box-sizing: content-box;
}

.sponsorTier-0,
.sponsorTier-1,
.sponsorTier-2,
.sponsorTier-3 {
	height: 150px;
	box-sizing: content-box;
	background-origin: border-box;
	

	margin: 0.5rem;
	border: transparent 0.75rem solid;
	background-image: linear-gradient(
		to top left,
		var(--tier-color-2),
		var(--tier-color-3),
		var(--tier-color-2)
	);

	&::before {
		border-radius: inherit;
		height: inherit;
		width: inherit;
		content: '';
		display: block;
		background-image: linear-gradient(
			to top right,
			var(--tier-color-5),
			var(--tier-color-4),
			var(--tier-color-5)
		);

		/* bevel effect */
		box-shadow: var(--tier-color-1) 0.2rem 0.2rem,
			var(--tier-color-5) -0.2rem -0.2rem 0;
	}

	& > img {
		height: inherit;
		position: relative;
		top: -100%;
	}
}

.sponsorTier-3 {
	--tier-color-1: #f9f295;
	--tier-color-2: #fbf59c;
	--tier-color-3: #e0bd3e;
	--tier-color-4: #dfbd69;
	--tier-color-5: #926f34;
}
